.container{
	margin-top: 50px;
}

.judul{
	margin-bottom: 20px;
	text-align: center;
	color: black;
	text-shadow: 2px 2px 5 pxgray;
	font-family: cursive;
	text-transform: uppercase;
	text-decoration: overline;
}
label{
	color: skyblue;
	font-family: cursive;
	text-shadow: 2px 2px black;
}

.col{
	width: 47%;
}

.img-fluid{
	width: 100%;
	border-radius: 15px;
}

.kampus{
	font-family: cursive;
	text-transform: uppercase;
	text-decoration: overline underline;
	text-align: center;
}

input[type=text], select, textarea, input[type=date], input[type=number], input[type=email], input[type=password]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    line-height: 20px;
    max-width: 1170px;
	min-width: 280px;
}

option:first-child{
	display: none;
}

@media (max-width: 670px) {
	.col{
		width: 100%;
	}

	
}